body {
  width: 100vw;
  height: 100vh;
  min-height: 50vh;
  min-width: 50vw;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/** Hidden until screen drops below 350px **/
.warning {
  width: 25%;
  height: 25%;
  color: grey;
  display: none;
  font-family: calibri;
}

/* Where everything goes */ 
.container1 {
  width: 99%;
  height: 99%;
  min-width: 50%;
  min-height: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
}

/* Where the logo and title go */
.logobar {
 width: 100%;
 height: 10%;
 border-bottom: .05em solid black;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 background-color: pink;
}

.logotitle {
 width: 40%;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.logo {
 width: 20%;
 height: 80%;
 transition: 1s ease all;
 background-image: url("logo.PNG");
 background-repeat:no-repeat;
 background-size:contain;
 background-position: center; 
}

.logotitletext {
 font-family: Impact;
 font-style: Italic;
 font-size: 1.75em;
 letter-spacing: .5em;
 background-color: yellow;
}

.menubar {
 width: 100%;
 height: 5%;
 display: flex;
 flex-wrap: wrap;
 background-color: pink;
}

a.menutab {
 width: calc(100%/4);
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 transition: .5s ease all;
 justify-content: center;
 align-items: center;
 margin: auto;
}

a.menutab:hover {
  box-shadow: .75em .75em black;
  background-color: yellow;
}

.menutabtext {
  font-weight: 550;
  font-family: Calibri;
  font-size: 1.1em;
}

.carouselcontainerouter {
  font-family: calibri;
  height: 85%; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.pageinner {
  height: 85%; 
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5%
}
  
.contenttitle {
  width: 100%;
  height: 25%;
  border-bottom: .05em solid black;
}

.header {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-bottom: .05em solid black;
}

.caption {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagetexttitle {
  font-size: 1.5em;
  font-weight: 699;
  letter-spacing: .4em;
}

.pagetextcaption {
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: .5em;
}

.contentbody {
  width: 100%;
  height: 75%;
  overflow: scroll; 
  display: flex;
  flex-wrap: wrap;
}

.tabbody {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: .05em solid black;
}

.tabimage {
  width: 10%;
  height: 100%;
  background-image: url("flayman.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tabcontent {
  width: 70%;
  height: 100%;
}

.tabcontenttop {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.tabcontentbottom {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.tabcontenttext1 {
  font-size: 1em;
  letter-spacing: .1em;
  margin-left: .75em;
}

.tabcontenttext2 {
  font-size: small;
  letter-spacing: .1em;
  margin-left: .75em;
}

.tabcontenttext3 {
  font-size: medium;
  letter-spacing: .1em;
  margin-left: .75em;
}

.tabjavalink:hover {
    animation-name: example;
    animation-duration: 1s;
	text-decoration: underline;
	animation-fill-mode: forwards;  
}

@keyframes example {
    0%   {box-shadow: inset 0em 0 0 0 yellow;}
    100% {box-shadow: inset 20em 0 0 0 yellow;}      
}

.tabjavalink {
  width: 19%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.mobile {
    display: none;
}

.albumcover {
  width: calc(100%/3 - 0.02em);
  height: 75%;
  margin-top: .5em;
}

img {
  background-size: cover; 
  background-position: 50%;
}

/* The album cover, can be clicked to play sample */
.albumpic {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0em;
    letter-spacing: .1em;
    color: yellow;
	font-weight: 800;
	font-family: calibri;
	font-size: 0em;
}

@keyframes albumsample {
	0% {opacity: 1;}
	100% {opacity: .6;}
}

/* Will show the play sample option */
.albumpic:hover {
	animation-name: albumsample;
	animation-duration: .5s;
	animation-fill-mode: forwards; 
	cursor: pointer;
	font-size: 1em;
}

#pic1 {
  background-image: url("hoeing.png");
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: 50%;
}

#pic2 {
  background-image: url("madness.png");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

#pic3 {
  background-image: url("suckins.png");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

#pic4 {
  background-image: url("place.png");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

#pic5 {
  background-image: url("logo.PNG");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

#pic6 {
  background-image: url("thunder.png");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

.albumcaption {
  width: 100%;
  height: 25%;
  border: .05em solid black;
}

.albumcaptiontop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: .9em;
  font-weight: bold;
}

.albumcaptionbottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 1em;
  transition: 0.5s ease all;
}

.albumcaptionbottom:hover {
  text-decoration: underline;
  letter-spacing: .1em;
}

a.menutab:visited {
 text-decoration: none;
 color: black; 
}

/* The container that holds the ticket purchase window */
.purchasecontainer {
 display: none;
 width: 80%; 
 height: 100%;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
}

.select {
 width: 100%;
 height: 15%;
 background-color: yellow;
 margin-top: 3em;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 border-bottom: .01em solid black;
}

.selecttext {
  font-weight: 500;
  letter-spacing: .1em;
}

.calendar {
  width: 85%;
  height: 65%;
  border: .01em solid black;
  display: flex;
  flex-wrap: wrap;
}

.weeks {
  width: 75%;
  height: 100%;
  border-right: .01em solid black;
  display: flex;
  flex-wrap: wrap;
}

/* The frame for the checkout section */
.checkout {
  width: calc(25% - .05em);
  height: calc(100% - .05em);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.window {
	width: 75%;
	height: 50%;
	border: .01em solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.total {
	width: calc(100% - .05em);
	height: 25%;
	border-bottom: .01em solid black;
	opacity: .75;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	letter-spacing: .3em;
	font-size: 1em;
}

/* Displays the final price, default 0 */
.finalprice {
	width: calc(100% - .05em);
	height: calc(50% - .05em);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* The button that is clicked to purchase, is default deactivated */
.proceed {
	width: calc(100% - .06em);
	height: calc(25% - .1em);
	border-top: .01em solid black;
	background-color: pink;
	opacity: .75;
	color: grey;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	letter-spacing: .1em;
	font-size: 1em;
	z-index: -1;
}

.sidingone {
 height: 100%;
 width: 100%;
 border-right: .01em solid black;
}

/* The tab that allows for a ticket selection */
.eventdate {
  height: calc(100%/5 - .01em);
  width: 100%;
  border-bottom: .01em solid black;
  z-index: -1;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  background-position: %;
  letter-spacing: .05em;
  color: white;
}

/* Indicates not avaible */
.soldout {
	opacity: 0.5;
	color: grey;
}

/* For an active purchase button */
.fortix {
	opacity: 1;
	color: black;
}

/* For an active purchase button */
.fortix:hover {
	animation-name: proceedhover;
	animation-duration: .5s;
	animation-fill-mode: forwards;  
}

@keyframes proceedhover {
  0% {background-color: pink;
	  letter-spacing: 0.1em;}
  100% {background-color: #ef8dc6;
		letter-spacing: 0.3em;}
}

/* Hides elements */
.change {
	display: none;
}

/* CSS class that will enlarge the tab window */
.buy {
	height: 85%;
}

/* Shows elements */
.add {
	display: flex;
}


#sanfran {
  background-image: url("https://c2.staticflickr.com/8/7180/6866204383_d339a99755_b.jpg");
   background-size: 100%;
}

#la {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/LA_San_Gabriel_Mountains.jpg");
  background-size: 100%;
}

#chicago {
  background-image: url("https://i.gse.io/gse_media/116/6/1469829447-Chicago_Skyline_Cruise_All_White_Boat_Party_tickets.jpg?p=1");
  background-size: 100%;
}

#miami{
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F622411610982865111%2F&psig=AOvVaw25bmRRN7Klz9t6RVUXC_gc&ust=1610483167846000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKirzbvblO4CFQAAAAAdAAAAABAD");
  background-size: 100%;
}

#nyc{
  background-image: url("http://pfnphoto.com/new/wp-content/gallery/archives/20130922-NYC-3863-panorama.jpg");
  background-size: 100%;
}


.eventdatetext {
  font-size: 1em; 
}

.eventdate:hover {
  animation-name: ticketchoice;
  animation-duration: .5s;
  animation-fill-mode: forwards;  
}

@keyframes ticketchoice {
  0% {box-shadow: inset 0 0 0 0 pink;
      letter-spacing: 0em;
      color: white;}
  100% {box-shadow: inset 0 0 0 4em pink;
        letter-spacing: .075em;
        color: black;}
}

/* Mobile layout */
@media screen and (max-width: 800px) {
	
  .container1 {
		width: 100%;
		height: 100%;
		border: none;
	}
	
	/* Hides the website title, shows just the logo */
	.logotitle {
		display: none;
	}
	
	/* Changes the menu to drop down mode */
	.mobile {
		font-family: Impact;
		letter-spacing: 1em;
		color: black;
	}
	
	a.menutab {
		width: 100%;
		height: 10%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.menutab {
		display: none;
	}
	
	.carouselcontainerouter {
 		 height: 75%; 
	}
	
	.tabbody {
  		height: calc(100%/3);
	}
	
	.tabimage {
  		background-size: 100% 30%;
	}
	
	.tabcontenttext1 {
		font-size: .75em;
		letter-spacing: 0em;
		margin-left: .75em;
	}

	.tabcontenttext2 {
		font-size: .75em;
		letter-spacing: 0em;
		margin-left: .75em;
	}

	.tabcontenttext3 {
		font-size: .75em;
		letter-spacing: 0em;
		margin-left: .75em;
	}
	
	.pagetextcaption {
 	        font-size: .9em;
		letter-spacing: .2em;
	}
	
	.albumcover {
	  width: calc(100%/2);
	}
	
	.albumcaptiontop {
	  font-size: .6em;
	}

	.albumcaptionbottom {
	  font-size: .6em;
	}
	
	.albumcaptionbottom:hover {
 	        letter-spacing: 0em;
	}
	
	.select { 
		margin-top: 0em;
	}

	.selecttext {
                font-size: .75em;
	}
	
	.eventdatetext {
    		font-size: .5em;
	}
	
}

/* Displays the resolution warning */
@media screen and (max-width: 350px) {
	
  .container1 {
		display: none;
	}
	
  .warning {
	  display: block;
  }
}
