body {
  width: 100vw;
  height: 100vh;
  min-height: 50vh;
  min-width: 50vw;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.container1 {
  width: 99%;
  height: 99%;
  min-width: 50%;
  min-height: 50%;
  margin: 0;
  padding: 0;
}

.logobar {
 width: 100%;
 height: 10%;
 border-bottom: .05em solid black;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 background-color: pink;
}

.logotitle {
 width: 40%;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.logo {
 width: 20%;
 height: 80%;
 transition: 1s ease all;
 background-image: url("https://user-images.githubusercontent.com/23199807/31148529-cf063676-a841-11e7-8b7f-45b36784c633.PNG");
 background-repeat:no-repeat;
 background-size:contain;
 background-position: center; 
}

.logotitletext {
 font-family: Impact;
 font-style: Italic;
 font-size: 1.75em;
 letter-spacing: .5em;
 background-color: yellow;
}

.menubar {
 width: 100%;
 height: 5%;
 display: flex;
 flex-wrap: wrap;
 background-color: pink;
}

a.menutab {
 width: calc(100%/4);
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 transition: .5s ease all;
 justify-content: center;
 align-items: center;
 margin: auto;
}

a.menutab:hover {
  box-shadow: .75em .75em black;
  background-color: yellow;
}

.menutabtext {
  font-weight: 550;
  font-family: Calibri;
  font-size: 1.1em;
}

.carouselcontainerouter {
  height: 85%; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.pageinner {
  height: 85%; 
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5%
}
  
.contenttitle {
  width: 100%;
  height: 25%;
  border-bottom: .05em solid black;
}

.header {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-bottom: .05em solid black;
}

.caption {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagetexttitle {
  font-family: Calibri;
  font-size: 1.5em;
  font-weight: 699;
  letter-spacing: .4em;
}

.pagetextcaption {
  font-family: Calibri;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: .5em;
}

.contentbody {
  width: 100%;
  height: 75%;
  overflow: scroll; 
  display: flex;
  flex-wrap: wrap;
}

.tabbody {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: .05em solid black;
}

.tabimage {
  width: 10%;
  height: 100%;
  background-image: url("http://themostdefinitely.com/wp-content/uploads/2015/06/giorgio.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tabcontent {
  width: 70%;
  height: 100%;
}

.tabcontenttop {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.tabcontentbottom {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.tabcontenttext1 {
  font-family: Calibri;
  font-size: 1em;
  letter-spacing: .1em;
  margin-left: .75em;
}

.tabcontenttext2 {
  font-family: Calibri;
  font-size: small;
  letter-spacing: .1em;
  margin-left: .75em;
}

.tabcontenttext3 {
  font-family: Calibri;
  font-size: medium;
  letter-spacing: .1em;
  margin-left: .75em;
}

.tabjavalink:hover {
    animation-name: example;
    animation-duration: 1s;
	text-decoration: underline;
	animation-fill-mode: forwards;  
}

@keyframes example {
    0%   {box-shadow: inset 0em 0 0 0 yellow;}
    100% {box-shadow: inset 20em 0 0 0 yellow;}      
}

.tabjavalink {
  width: 19%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.mobile {
    display: none;
}

.albumcover {
  width: calc(100%/3 - 0.02em);
  height: 75%;
  margin-top: .5em;
}

img {
  background-size: cover; 
  background-position: 50%;
}

.albumpic {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0em;
    letter-spacing: .1em;
    color: yellow;
	font-weight: 800;
	font-family: calibri;
	font-size: 0em;
}

@keyframes albumsample {
	0% {opacity: 1;}
	100% {opacity: .6;}
}


.albumpic:hover {
	animation-name: albumsample;
	animation-duration: .5s;
	animation-fill-mode: forwards; 
	cursor: pointer;
	font-size: 1em;
}

#pic1 {
  background-image: url("https://user-images.githubusercontent.com/23199807/31806043-4d82df9c-b51a-11e7-86e8-2e3d2885bd40.png");
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: 50%;
}

#pic2 {
  background-image: url("https://user-images.githubusercontent.com/23199807/32765886-53566050-c8c1-11e7-9c2c-1f46f24f3c3c.png");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

#pic3 {
  background-image: url("https://user-images.githubusercontent.com/23199807/32766175-917f598a-c8c2-11e7-883f-a640dd9c283b.png");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

#pic4 {
  background-image: url("https://user-images.githubusercontent.com/23199807/32766352-72c80f90-c8c3-11e7-9740-9c9b15248ea5.png");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

#pic5 {
  background-image: url("https://user-images.githubusercontent.com/23199807/31148529-cf063676-a841-11e7-8b7f-45b36784c633.PNG");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

#pic6 {
  background-image: url("https://user-images.githubusercontent.com/23199807/32767033-83854656-c8c6-11e7-98b4-af8dafe5287c.png");
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}

.albumcaption {
  width: 100%;
  height: 25%;
  border: .05em solid black;
}

.albumcaptiontop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-family: calibri;
  font-size: .9em;
  font-weight: bold;
}

.albumcaptionbottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-family: calibri;
  font-size: 1em;
  transition: 0.5s ease all;
}

.albumcaptionbottom:hover {
  text-decoration: underline;
  letter-spacing: .1em;
}

a.menutab:visited {
 text-decoration: none;
 color: black; 
}

.purchasecontainer {
 display: none;
 width: 80%; 
 height: 100%;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
}

.select {
 width: 100%;
 height: 15%;
 background-color: yellow;
 margin-top: 3em;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 border-bottom: .01em solid black;
}

.selecttext {
  font-family: Calibri;
  font-weight: 500;
  letter-spacing: .1em;
}

.calendar {
  width: 85%;
  height: 65%;
  border: .01em solid black;
  display: flex;
  flex-wrap: wrap;
}

.weeks {
  width: 75%;
  height: 100%;
  border-right: .01em solid black;
  display: flex;
  flex-wrap: wrap;
}

.checkout {
  width: calc(25% - .05em);
  height: calc(100% - .05em);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.window {
	width: 75%;
	height: 50%;
	border: .01em solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.total {
	width: calc(100% - .05em);
	height: 25%;
	border-bottom: .01em solid black;
	opacity: .75;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: calibri; 
	letter-spacing: .3em;
	font-size: 1em;
}

.finalprice {
	width: calc(100% - .05em);
	height: calc(50% - .05em);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: calibri; 
}

.proceed {
	width: calc(100% - .06em);
	height: calc(25% - .1em);
	border-top: .01em solid black;
	background-color: pink;
	opacity: .75;
	color: grey;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: calibri; 
	letter-spacing: .1em;
	font-size: 1em;
	z-index: -1;
}

.sidingone {
 height: 100%;
 width: 50%;
 border-right: .01em solid black;
}

.sidingtwo {
 height: 100%;
 width: calc(50% - .1em);
}

.eventdate {
  height: calc(100%/5 - .01em);
  width: 100%;
  border-bottom: .01em solid black;
  z-index: -1;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  background-position: %;
  letter-spacing: .05em;
  color: white;
}

.soldout {
	opacity: 0.5;
	color: grey;
}

.fortix {
	opacity: 1;
	color: black;
}

.fortix:hover {
	animation-name: proceedhover;
	animation-duration: .5s;
	animation-fill-mode: forwards;  
}

@keyframes proceedhover {
  0% {background-color: pink;
	  letter-spacing: 0.1em;}
  100% {background-color: #ef8dc6;
		letter-spacing: 0.3em;}
}


.change {
	display: none;
}

.buy {
	height: 85%;
}

.add {
	display: flex;
}


#sanfran {
  background-image: url("https://c2.staticflickr.com/8/7180/6866204383_d339a99755_b.jpg");
   background-size: 100%;
}

#la {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/LA_San_Gabriel_Mountains.jpg");
  background-size: 100%;
}

#chiraq {
  background-image: url("https://i.gse.io/gse_media/116/6/1469829447-Chicago_Skyline_Cruise_All_White_Boat_Party_tickets.jpg?p=1");
  background-size: 100%;
}

#miami{
  background-image: url("https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/Miami_ss_Sean-Pavone_174338351-1984x880.jpg");
  background-size: 100%;
}

#nyc{
  background-image: url("http://pfnphoto.com/new/wp-content/gallery/archives/20130922-NYC-3863-panorama.jpg");
  background-size: 100%;
}

#tor {
  background-image: url("https://www.bioconnect.com/wp-content/uploads/2017/02/toronto-skyline.jpg");
  background-size: 100%;
}

#mex {
  background-image: url("https://farm3.staticflickr.com/2941/15280661181_356bc09a89_b.jpg");
  background-size: 100%;
}

.eventdatetext {
  font-family: calibri;
  font-size: 1em; 
}



.eventdate:hover {
  animation-name: ticketchoice;
  animation-duration: .5s;
  animation-fill-mode: forwards;  
}

@keyframes ticketchoice {
  0% {box-shadow: inset 0 0 0 0 pink;
      letter-spacing: 0em;
      color: white;}
  100% {box-shadow: inset 0 0 0 4em pink;
        letter-spacing: .075em;
        color: black;}
}

@media only screen and (max-width: 800px) {
	
  .container1 {
		width: 100%;
		height: 100%;
		border: none;
	}
	
	.mobile {
		font-family: Impact;
		letter-spacing: 1em;
		color: black;
	}
	
	a.menutab {
		width: 100%;
		height: 10%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.menutab {
		display: none;
	}
	
	.carouselcontainerouter {
 		 height: 75%; 
	}
	
	.tabbody {
  		height: calc(100%/3);
	}
	
	.tabimage {
  		background-size: 100% 30%;
	}
	
	.tabcontenttext1 {
		font-family: Calibri;
		font-size: .75em;
		letter-spacing: 0em;
		margin-left: .75em;
	}

	.tabcontenttext2 {
		font-family: Calibri;
		font-size: .75em;
		letter-spacing: 0em;
		margin-left: .75em;
	}

	.tabcontenttext3 {
		font-family: Calibri;
		font-size: .75em;
		letter-spacing: 0em;
		margin-left: .75em;
	}
	
	.pagetextcaption {
 	        font-size: .9em;
		letter-spacing: .2em;
	}
	
	.albumcover {
	  width: calc(100%/2);
	}
	
	.albumcaptiontop {
	  font-size: .6em;
	}

	.albumcaptionbottom {
	  font-size: .6em;
	}
	
	.albumcaptionbottom:hover {
 	        letter-spacing: 0em;
	}
	
	.select { 
		margin-top: 0em;
	}

	.selecttext {
                font-size: .75em;
	}
	
	.eventdatetext {
    		font-size: .5em;
	}
	
}
